---

---

<div
  class="btn text-md group flex items-center bg-transparent p-2 px-6 font-thin tracking-widest text-white"
>
  <span
    class="relative pb-1 pr-4 text-white after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-purple-500 after:transition-transform after:duration-500 after:ease-out after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100"
    ><slot /></span
  >
</div>
